<?xml version="1.0" encoding="UTF-8"?>
<!-- {{appName}} {{appVersion}} ({{appDescription}}) -->
<adapter>
  <unique-id>{{{appName}}}</unique-id>
  <channel-list>
{{>channelContent}}

  </channel-list>
</adapter>